.loading {
  position: relative;
  text-align: center;
}
.loading:after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  margin: 4px;
  border-radius: 50%;
  border: 4px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
